graph {
    padding:10px;
}

node {
    size: 3px;
    fill-color: #191919;
    text-mode: hidden;
    z-index: 0;
}

node.center_nodes {
    shape:box;
    size:10px;
    fill-color: #c0151a;
    text-mode: hidden;
    z-index: 2;
}

edge {
    size:1px;
    shape: line;
    fill-mode: dyn-plain;
    arrow-size: 3px, 2px;
}

edge.route {
    fill-color: #3bb5c0, #555, green, yellow;
}

edge.cyclable {
    fill-color: #c02330, #555, green, yellow;
}

edge.transport_commun {
    fill-color: #c0b626, #554339, #3e6480, #cc8cff;
}